*{
    padding: 0%;
    margin: 0%;
}

:root{
    /*Variáveis - cores*/
    --gray-background:#8C8C8C;
    --white-geral: #FFFFFF;
    --orange-buttom:#F25C05;
    --orange-box:#F24405;
    --orange-hover:#8C2703;
    --black-titles:#000000;

    /*Fonts*/

    --tomorrow-regular: "Tomorrow", sans-serif;
    --tomorrow-lg:45px/54px var(--tomorrow-regular);
    
    --inter-regular: "inter", serif;
    --inter-bold-lg:56px/67.77px var(--inter-regular);
    --inter-md:40px/52px var(--inter-regular);
    --inter-sm:12px/19.08px var(--inter-regular);
}

body{
    background-color: var(--gray-background);

    font:var(--inter-regular);
}
a{
    text-decoration: none;
}




