#history{
    height: 500px;
    margin-top: 100px;
    display: flex;
    background-color: var(--gray-clean-background);
    padding: 50px;
    padding-top: 0%;
    justify-content: center;
    align-items: center;
    gap:120px;
}

#division-title{
    font-size: 40px;
    width: 544px;
    height: 185px;
    font-family: var(--inter-regular);
}

#division-text{
    font-size: 13px;
    font-weight: 300px;
    width: 534.88px;
    height: 135px;
    position: relative;
    top: 20px;
}

p{
    font-weight: 600px;
}