/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Garante que não haja rolagem lateral */
}

nav {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    padding-block: 66.8px;
    background-color: var(--gray-background);
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 1000;
}

.mobile-menu div {
    width: 32px;
    height: 2.17px;
    background: var(--white-geral);
    margin: 8px;
}

/* Estilos para links */
a {
    font: var(--inter-sm);
    color: var(--white-geral);
    transition: 0.3s;
    text-decoration: none; /* Remover sublinhado padrão */
}

a:hover {
    color: var(--orange-buttom);
}

/* Estilos do Logo */
.logo {
    width: 336px;
    height: 48.02px;
}

/* Estilos para mobile */
@media (max-width: 999px) {
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: var(--gray-background);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        overflow-x: hidden; /* Esconde vazamentos horizontais */
    }

    .nav-list.active {
        transform: translateX(0);
    }

    .mobile-menu {
        display: block;
    }

    body.no-scroll {
        overflow: hidden; /* Bloqueia rolagem */
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .nav-list li {
        opacity: 0;
    }

    .nav-list.active li {
        opacity: 1;
        transition: opacity 0.3s ease-in;
        animation: navLinkFade 0.5s ease forwards;
    }
}
