.box-down{ 
    width: 100%; /* Ajusta a largura para a largura da tela ou do contêiner pai */
    height: auto; /* Ajusta a altura de acordo com o conteúdo */
    border: solid 1px;
    display: flex;
    flex-wrap: wrap; /* Permite quebra de linha */
    gap: 20px;
    justify-content: center; /* Alinha os itens à esquerda */
}

.box-model{
    width: calc(20% - 20px); /* Faz cada caixa ter 20% da largura, com o gap ajustado */
    height: 91px;
    border: solid 1px;
}

/* Especificação para a segunda linha (4 itens) */
.box-model:nth-child(6),
.box-model:nth-child(7),
.box-model:nth-child(8),
.box-model:nth-child(9)
.box-model:nth-child(10)
.box-model:nth-child(11)
.box-model:nth-child(12)
.box-model:nth-child(13) {
    width: calc(25% - 20px); /* 25% da largura para a segunda linha */
}





