.projetos{
    background-color: var(--gray-clean-background);
    height: 293px;
    padding: 120px;
    
    
}


.projeto{    
    padding: 30px 80px;
    margin: 0px;
    
}
.opacy{
    font: var(--inter-minimal);
    font-weight: 300px;
    display: flex;
    justify-content: center;
    
    
}
